# Virtual Environments
.venv/
venv/
**/venv/
**/.venv/

# Python Cache
__pycache__/
**/__pycache__/
*.pyc
.pytest_cache/

# Sensitive Files & Database
.env
**/.env
*.db
app.db
**/app.db

# VS Code settings
.vscode/